/* ----------------- GLOBAL TYPE SIZE START ----------------- */
@for $s from 4 through 100 {
    .font-size--#{$s} {
        @include font-size($s, ($s + 5)+px);
    }
}

@for $s from 1 through 100 {
    .line-height--#{$s}  { line-height: $s+px!important; }
}


@for $s from 100 through 900 {
    .font-weight--#{$s}  { font-weight: $s!important; }
}

.font-weight--bold {
    font-weight: bold;
}

.font-weight--normal {
    font-weight: normal;
}

.ff-OswaldBold {font-family : 'OswaldBold', 'Arial'};
.ff-OswaldExtraLight {font-family : 'OswaldExtraLight', 'Arial'};
.ff-OswaldLight {font-family : 'OswaldLight', 'Arial'};
.ff-OswaldMedium {font-family : 'OswaldMedium', 'Arial'};
.ff-OswaldRegular {font-family : 'OswaldRegular', 'Arial'};
.ff-OswaldSemiBold {font-family : 'OswaldSemiBold', 'Arial'};
.ff-RobotoBlack {font-family : 'RobotoBlack', 'Arial'};
.ff-RobotoBlackItalic {font-family : 'RobotoBlackItalic', 'Arial'};
.ff-RobotoItalic {font-family : 'RobotoItalic', 'Arial'};
.ff-RobotoLİght {font-family : 'RobotoLİght', 'Arial'};
.ff-RobotoLightItalic {font-family : 'RobotoLightItalic', 'Arial'};
.ff-RobotoMedium {font-family : 'RobotoMedium', 'Arial'};

.ff-RobotoMediumItalic {font-family : 'RobotoMediumItalic', 'Arial'};
.ff-RobotoRegular {font-family : 'RobotoRegular', 'Arial'};
.ff-RobotoThin {font-family : 'RobotoThin', 'Arial'};
.ff-RobotoThinItalic {font-family : 'RobotoThinItalic', 'Arial'};
.ff-RobotoBold {font-family : 'RobotoBold', 'Arial'};
.ff-RobotoBoldItalic {font-family : 'RobotoBoldItalic', 'Arial'};


