.banner-m{
    width: 1545px;
    height: 421px;
    margin-left: -206px; 
    
    
}
.colsize{


    top: -352px;
    left: -118px;
    span{
        p{
        font-family: 'RobotoThin';
        font-size: 25px;
        line-height: 31px;
        }
        button{
            position: absolute;
            left: 0.32%;
            right: 76.36%;
            top: 90.31%;
            bottom: 11.7%;
            width: 169px;
            background-color: transparent;
            height: 62px;
            border: 2px solid black;

           


        }
       
    }
    h1{

        font-family: 'OswaldBold';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 72px;
    } 
    }
.vector{
    
    margin-top: -102px;
    
    margin-left: 43px;
}
.text-type{
font-family: 'OswaldBold';
font-style: normal;
font-weight: 500;
font-size: 18px;
}
.breadcrumb{
    a{
        color:#828282;  
    }
    span{
        color:#828282;  
    }
}
.custom-container{
    padding-left: 50px;
    padding-right: 50px;
}
.text-location{
    top:170px;
    margin-left: -149px;
}