<footer class="mt-4 border-top">

    <div class="custom-container d-flex align-items-center justify-content-center">
      <div class="row check-icons">
        <div class="col">
          <ul>
            <li><img src="./assets/svg/tik.svg">Duties and Taxes Guaranteed</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/svg/tik.svg">Free Express Shipping</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/svg/tik.svg">Customer Love</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/svg/tik.svg">Easy Return</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/svg/tik.svg">Secure Payment</li>
          </ul>
        </div>
      </div>
    </div>

  </footer>


<div class="container-fuild bg--black px-lg-5 px-4 pt-5  footer-area">
  <div class="row">
    <div class="col-12 col-md">
      <img src="../assets/svg/logo.svg" alt="Crisp" class="mb-4">
    </div>

    <div class="col-12 col-md">
      <h5>FEATURES</h5>
      <ul>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Boys</a></li>
        <li><a href="#">Gırl</a></li>
        <li><a href="#">New Arrıvals</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Cothes</a></li>
        <li><a href="#">Accessorıes</a></li>
      </ul>
    </div>

    <div class="col-12 col-md ">
      <h5>MENU</h5>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Orders Hıstory</a></li>
        <li><a href="#">My Wishlist</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Logın</a></li>
      </ul>
    </div>

    <div class="col-12 col-md">
      <h5>CONTACT US</h5>
      <ul>
        <li>
          <h1>Adress:</h1>
          <p>123 street name, cıty, england</p>
        </li>
        <li>
          <h1>phone:</h1>
          <p>(123) 456-7890</p>
        </li>
        <li>
          <h1>emaıl:</h1>
          <p>maıl@example.com</p>
        </li>
        <li>
          <h1>workıng days/hours:</h1>
          <p>mon - sun / 9:00AM - 8:00PM</p>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md ">
      <h5>FOLLOW US</h5>
      <ul>
        <li><a href="#"><span class="mr-3 ">
          <img class ="icons"src="../assets/svg/facebook-v.svg" alt="">
        </span> facebook</a></li>
        <li><a href="#"><span class=" mr-3 ">
          <img class ="icons"src="../assets/svg/twitter.svg" alt="">
        </span> twıtter</a></li>
        <li><a href="#"><span class=" mr-3">
          <img class ="icons"src="../assets/svg/instagram-photo-camera-symbol.svg" alt="">
        </span> ınstagram</a></li>
      </ul>
    </div>

    <div class="col-12 col-md">
      <h5>JOIN US</h5>
      <ul>
        <li>Subscrıbe to our newsletters</li>
        <li><input id="email-address" name="email-address" placeholder="Email Address"></li>
        <li><a href="#" class="subscribe-button">subscrıbe!</a></li>
      </ul>
    </div>
    
  </div>
  <hr>
  <small class="d-block ">© 2019. Crısp theme Developed by Belvg</small>
</div>