<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="../assets/svg/logo.svg" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
      aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarsExample06">
      <ul class="navbar-nav ff-OswaldSemiBold d-flex align-items-center ">
        <li class="nav-item active">
          <a class="nav-link" href="#"><b>HOME</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop.html"><b>SHOP</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html"><b>BLOG</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>SALE</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>CONTACT US</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../assets/svg/search.svg" width="69px" height="21px"></a>
        </li>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end " id="navbarsExample06">
      <ul class="navbar-nav ff-OswaldSemiBold d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Melis'in Sitesi</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Siparişlerim</a>
            <a class="dropdown-item" href="#">Kuponlarım</a>
            <a class="dropdown-item" href="#">Profil</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b class="text-end">CREATE AN ACCOUNT</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="#"><img src="../assets/svg/Vector.svg" width="17px" height="15px"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-2 p-0 " href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="sticky-bottom ml-2  " src="../assets/svg/shop.svg" width="17px" height="15px">
          </a>

          <div class="dropdown-menu v2">
            <div class="container-fuild">


              <div class="mb-1">
                <div class="row ">
                  <div class="col-md-4">
                    <img src="../assets/images/giyim.png" class="img-fluid-v" alt="...">
                  </div>
                  <div class="col-md-8 text-center">
                    <div class="card-body  ">

                      <h5 class="card-title "><small>Striped Cable-Knit Short-Sleeve Jumper</small></h5>

                      <span class="card-text  ">COLOUR:&nbsp; Multi Stripe</span><br />

                      <span class="card-text ">SIZE: &nbsp; L</span><br />

                      <span class="card-text ">TL &nbsp; 2,900.00</span>
                      <hr class="hr" />





                      <button type="button" class="btn btn-secondary btn-md btn btn-dark button btnl">Checkout</button>
                      <p class="card-text tot"><small class="text-muted ">Subtotal: &nbsp; &nbsp;&nbsp; </small>
                        <small> <span class=""> TL 2,900.00</small>
                      </p>



                    </div>
                  </div>

                </div>
              </div>


            </div>

          </div>
        </li>
        <div class="line">
          <p class="text-white  d-block ">Shopping Card</p>
          <p class="text-white  d-block">0,00 EUR</p>
        </div>
      </ul>

    </div>

  </nav>