.mobile-menu-btn {
    width: 100%;
    max-width: 35px;
    span {
        display: block;
        background-color: $color--black;
        margin-bottom: 4px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }
}

.mobilemenu-hidden {
    display: none!important
}

.mobilemenu-wrapper {
    overflow-x: hidden;
    position: relative
}

.mobilemenu-menu {
    box-sizing: border-box;
    background: inherit;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mobilemenu-menu a,
.mobilemenu-menu a:active,
.mobilemenu-menu a:hover,
.mobilemenu-menu a:link,
.mobilemenu-menu a:visited {
    color: inherit;
    text-decoration: none
}

.mobilemenu-panels,
.mobilemenu-panels>.mobilemenu-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mobilemenu-panel,
.mobilemenu-panels {
    background: inherit;
    border-color: inherit;
    box-sizing: border-box;
    margin: 0
}

.mobilemenu-panels {
    overflow: hidden
}

.mobilemenu-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.mobilemenu-panel:not(.mobilemenu-hidden) {
    display: block
}

.mobilemenu-panel:after,
.mobilemenu-panel:before {
    content: '';
    display: block;
    height: 20px
}

.mobilemenu-panel_has-navbar {
    padding-top: 40px;
/*padding-bottom:40px;*/
}

.mobilemenu-panel_opened {
    z-index: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mobilemenu-panel_opened-parent {
    -webkit-transform: translate(-30%, 0);
    -ms-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)
}

.mobilemenu-panel_highest {
    z-index: 2
}

.mobilemenu-panel_noanimation {
    transition: none!important
}

.mobilemenu-panel_noanimation.mobilemenu-panel_opened-parent {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mobilemenu-listitem_vertical>.mobilemenu-panel {
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important;
    display: none;
    padding: 10px 0 10px 10px
}

.mobilemenu-listitem_vertical>.mobilemenu-panel:after,
.mobilemenu-listitem_vertical>.mobilemenu-panel:before {
    content: none;
    display: none
}

.mobilemenu-listitem_opened>.mobilemenu-panel {
    display: block
}

.mobilemenu-listitem_vertical>.mobilemenu-btn_next {
    box-sizing: border-box;
    height: 40px;
    bottom: auto
}

.mobilemenu-listitem_vertical .mobilemenu-listitem:last-child:after {
    border-color: transparent
}

.mobilemenu-listitem_opened>.mobilemenu-btn_next:after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 19px
}

.mobilemenu-btn {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    z-index: 1
}

.mobilemenu-btn_fullwidth {
    width: 100%
}

.mobilemenu-btn_clear:after,
.mobilemenu-btn_clear:before,
.mobilemenu-btn_close:after,
.mobilemenu-btn_close:before {
    content: '';
    border: 2px solid transparent;
    box-sizing: content-box;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mobilemenu-btn_clear:before,
.mobilemenu-btn_close:before {
    border-right: none;
    border-bottom: none;
    right: 18px
}

.mobilemenu-btn_clear:after,
.mobilemenu-btn_close:after {
    border-left: none;
    border-top: none;
    right: 25px
}

.mobilemenu-btn_next:after,
.mobilemenu-btn_prev:before {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: content-box;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0
}

.mobilemenu-btn_prev:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 23px;
    right: auto
}

.mobilemenu-btn_next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 23px;
    left: auto
}

.mobilemenu-navbar {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
    line-height: 20px;
    display: none;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity .4s ease
}

.mobilemenu-navbar>* {
    box-sizing: border-box;
    display: block;
    padding: 10px 0
}

.mobilemenu-navbar a,
.mobilemenu-navbar a:hover {
    text-decoration: none
}

.mobilemenu-navbar__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobilemenu-navbar__btn:first-child {
    left: 0
}

.mobilemenu-navbar__btn:last-child {
    text-align: right;
    right: 0
}

.mobilemenu-panel_has-navbar .mobilemenu-navbar {
    display: block
}

.mobilemenu-listitem,
.mobilemenu-listview {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0
}

.mobilemenu-listitem,
.mobilemenu-listitem .mobilemenu-btn_next,
.mobilemenu-listitem .mobilemenu-btn_next:before,
.mobilemenu-listitem:after,
.mobilemenu-listview {
    border-color: inherit
}

.mobilemenu-listview {
    font: inherit;
    line-height: 20px
}

.mobilemenu-panels>.mobilemenu-panel>.mobilemenu-listview {
    margin: 0px -20px
}

.mobilemenu-panels>.mobilemenu-panel>.mobilemenu-listview:first-child,
.mobilemenu-panels>.mobilemenu-panel>.mobilemenu-navbar+.mobilemenu-listview {
    margin-top: -13px
}

.mobilemenu-listitem {
    position: relative
}

.mobilemenu-listitem:after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.mobilemenu-listitem:after {
    left: 20px
}

.mobilemenu-listitem a,
.mobilemenu-listitem a:hover {
    text-decoration: none
}

.mobilemenu-listitem>a,
.mobilemenu-listitem>span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 10px 10px 10px 20px;
    margin: 0
}

.mobilemenu-listitem .mobilemenu-btn_next {
    background: rgba(3, 2, 1, 0);
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2
}

.mobilemenu-listitem .mobilemenu-btn_next:before {
    content: '';
   /*border-left-width: 1px;
    border-left-style: solid;*/
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.mobilemenu-listitem .mobilemenu-btn_next:not(.mobilemenu-btn_fullwidth) {
    width: 50px
}

.mobilemenu-listitem .mobilemenu-btn_next:not(.mobilemenu-btn_fullwidth)+a,
.mobilemenu-listitem .mobilemenu-btn_next:not(.mobilemenu-btn_fullwidth)+span {
    margin-right: 50px
}

.mobilemenu-listitem .mobilemenu-btn_fullwidth:before {
    border-left: none
}

.mobilemenu-listitem .mobilemenu-btn_fullwidth+a,
.mobilemenu-listitem .mobilemenu-btn_fullwidth+span {
    padding-right: 50px
}

.mobilemenu-listitem_divider {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 75%;
    text-transform: uppercase;
    padding: 5px 10px 5px 20px
}

.mobilemenu-listitem_divider:after {
    content: ' ';
    display: none;
    position: static;
    display: inline-block
}

.mobilemenu-listitem_spacer {
    padding-top: 40px
}

.mobilemenu-listitem_spacer>.mobilemenu-btn_next {
    top: 40px
}

.mobilemenu-menu {
    background: #dff6ff;
    border-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .75)
}

.mobilemenu-menu .mobilemenu-navbar a,
.mobilemenu-menu .mobilemenu-navbar>* {
    color: rgba(0, 0, 0, .3)
}

.mobilemenu-menu .mobilemenu-btn:after,
.mobilemenu-menu .mobilemenu-btn:before {
    border-color: rgba(0, 0, 0, .3)
}

.mobilemenu-menu .mobilemenu-listview .mobilemenu-btn_next:after {
    border-color: rgba(0, 0, 0, .3)
}

.mobilemenu-menu .mobilemenu-listview a:not(.mobilemenu-btn_next) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .4);
    tap-highlight-color: rgba(255, 255, 255, .4)
}

.mobilemenu-menu .mobilemenu-listitem_selected>a:not(.mobilemenu-btn_next),
.mobilemenu-menu .mobilemenu-listitem_selected>span {
   /* background: rgba(255, 255, 255, .4)*/
}

.mobilemenu-menu .mobilemenu-listitem_opened>.mobilemenu-btn_next,
.mobilemenu-menu .mobilemenu-listitem_opened>.mobilemenu-panel {
    background: rgba(0, 0, 0, .05)
}

.mobilemenu-menu .mobilemenu-listitem_divider {
    background: rgba(0, 0, 0, .05)
}

.mobilemenu-page {
    box-sizing: border-box;
    position: relative
}

.mobilemenu-slideout {
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  /*  z-index: 1*/
}

.mobilemenu-wrapper_opened {
    overflow-x: hidden;
    position: relative
}

.mobilemenu-wrapper_background .mobilemenu-page {
    background: inherit
}

.mobilemenu-menu_offcanvas {
    display: block;
    position: fixed;
    left: -100%;
    z-index: 0;
    transition: 435ms;
}

.mobilemenu-menu_offcanvas.mobilemenu-menu_opened {
    display: block;
    left:0px;
}

.mobilemenu-menu_offcanvas.mobilemenu-menu_opened.mobilemenu-no-csstransforms {
    z-index: 10
}

.mobilemenu-menu_offcanvas {
    width: 80%;
    min-width: 140px;
    max-width: 440px
}

.mobilemenu-wrapper_opening .mobilemenu-menu_offcanvas.mobilemenu-menu_opened~.mobilemenu-slideout {
    -webkit-transform: translate(80vw, 0);
    -ms-transform: translate(80vw, 0);
    transform: translate(80vw, 0);
    -webkit-transform: translate3d(80vw, 0, 0);
    transform: translate3d(80vw, 0, 0)
}

@media all and (max-width:175px) {
    .mobilemenu-wrapper_opening .mobilemenu-menu_offcanvas.mobilemenu-menu_opened~.mobilemenu-slideout {
        -webkit-transform: translate(140px, 0);
        -ms-transform: translate(140px, 0);
        transform: translate(140px, 0);
        -webkit-transform: translate3d(140px, 0, 0);
        transform: translate3d(140px, 0, 0)
    }
}

@media all and (min-width:550px) {
    .mobilemenu-wrapper_opening .mobilemenu-menu_offcanvas.mobilemenu-menu_opened~.mobilemenu-slideout {
        -webkit-transform: translate(440px, 0);
        -ms-transform: translate(440px, 0);
        transform: translate(440px, 0);
        -webkit-transform: translate3d(440px, 0, 0);
        transform: translate3d(440px, 0, 0)
    }

   
}


.mobilemenu-page__blocker {
    background: rgba(3, 2, 1, 0);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}

.mobilemenu-wrapper_blocking {
    overflow: hidden
}

.mobilemenu-wrapper_blocking body {
    overflow: hidden
}

.mobilemenu-wrapper_blocking .mobilemenu-page__blocker {
    display: block
}

.mobilemenu-sronly {
    border: 0!important;
    clip: rect(1px, 1px, 1px, 1px)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    white-space: nowrap!important;
    width: 1px!important;
    min-width: 1px!important;
    height: 1px!important;
    min-height: 1px!important;
    padding: 0!important;
    overflow: hidden!important;
    position: absolute!important
}


.mobilemenu-panels { position:relative; height:100%; margin-top:48px; margin-bottom:15px; transition:250ms; }
.mobilemenu-listview { margin-top:0px !important; }
.mobilemenu-listitem:after { left:20px; right:20px; }
.mobilemenu-listitem > a, .mobilemenu-listitem > span { padding:15px 10px 15px 20px; font-size:14px; font-weight: 500; }
.mobilemenu-listitem:last-child:after {
    border-bottom: 0px;
}
.mobilemenu-navbar { height: auto; padding: 0px;}
.mobilemenu-navbar a {color: #2b2b2b !important; opacity:1; }
.mobilemenu-panel:after, .mobilemenu-panel:before { height:10px; }
.mobilemenu-navbar__title { font-family: 'SourceSansPro'; font-weight: 600; padding:14px 0px 13px 0px; display:block; font-size:16px; text-transform:uppercase; text-align:center;  }
.mobilemenu-menu .mobilemenu-btn:after, .mobilemenu-menu .mobilemenu-btn:before { border-color: #000; }
.mobilemenu-menu .mobilemenu-close {display:block; position:absolute; left:0px; top:0px; z-index:222222; width:50px; height:47px;  
    background: #0e99c0;
    color:$color--white !important;
    @include font-size(20);
    text-align: center;

    i {
        @include position-align();
        left:0;
        right: 0;
        margin: auto;
    }
}

.mobile-menu__currency {
    .mobile-menu__currency-list {
        a {
            font-weight: 500;
            @include transition();
            &:hover {
                color: #f5fcff;
            }
        }
    }
}
